<!DOCTYPE html>
<html ng-app>
<head>
		<title></title>
	<!-- <link rel="stylesheet" href=""> -->
</head>
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

	<form>Name:</form><input type="text" ng-model="Name">
	<form>Address:</form><input type="text" ng-model="Address">
	<form>City:</form><input type="text" ng-model="City">
	<form>State:</form><input type="text" ng-model="State">
	<form>Zip:</form><input type="text" ng-model="Zip">

	<div>
	Name: {{Name}} 
	</div>
	<div>
	Address: {{Address}}
	</div>
	<div>
	City: {{City}}
	</div>
	<div>
	State: {{State}}
	</div>
	<div>
	ZIP: {{Zip}}
	</div>


</body>
</html>